.intro {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-details-link {
  text-decoration: none;
  color: black;
}
